.with_border{
   border-bottom: 1px solid $lineColor;
}

.central_cnt{
   .main_image_cnt{
      position: relative;
      color: white;

      img{
         filter: brightness(50%);
         width: 100%;
      }

      .central_img_desc{
         position: absolute;
         bottom: 0;
         max-width: 100%;

         .orange_result{
            display: inline-block;
            background-color: $orangeColor;
            font-weight: bold;
            font-size: 14px;
            padding: 0 5px;
         }

         h1{
            font-weight: bold;
         }

         .details{
            padding: 10px 0;
            border-top: 1px solid $lineColor;
            background-color: black;
         }
      }

      .buttons_cnt{
         position: absolute;
         top: 0;
         right: 0;
         margin-top: 10px;
         margin-right: 5px;

         span{
            background-color: white;
            color: black;
            padding: 5px;

            &:first-child{
               background-color: $orangeColor;

               a{
                  color: white;
               }
            }

            &:last-child{
               border-left: 1px solid $lineColor;

               a{
                  color: black;
               }
            }
         }

      }
   }
}
